<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


<div class="main">
    <div class="intro">
        <span class="top">HELLO!<br></span>
        <span class="top-greet">I'm</span>
        <span class="name-char"> Karl<br> Villaverde<br></span>
        <span class="description">Entry-Level Programmer</span>
    </div>

    <div class="image">
        <img src="assets/images/kmv.png" alt="me" draggable="false"> 
    </div>
</div>