.mat-grid-list {
    background-color: black;
    color: white;
}

.intro {
    padding-left: 10%;
}

mat-grid-tile .intro {
    column-span: 2;
}

.block {
    display: block;
}

h3 {
    font-size: 7vw;
    margin-right: 5%;
    color: whitesmoke;
}

h3.name {
    color: #ffbd39;
}

h3.name.lastname {
    margin: 0px;
}

h4 {
    font-size: 3vw;
    color: whitesmoke;
}

h5 {
    color: #ffbd39;
    font-size: 2vw;
}

h5.smaller {
    margin: 0px;
    font-size: 5vw;
}

h3.small {
    font-size: 10vw;
}

h4.small {
    font-size: 4vw;
}

.text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.align {
    display: flex;
}

.image {
    transform: scale(1.10);
}

.changeSet {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;

}

.small {
    font-size: 4vw;
}


.intro {
    animation: mover 0.25s alternate;
    position: fixed;
}

@keyframes mover {
    0% {
        transform: translateY(15%);
    }

    25% {
        transform: translateY(10%);
    }

    50% {
        transform: translateY(5%)
    }

    100% {
        transform: translateY(0%);
    }
}

button.hire-but {
    font-family: "Bebas Neue", sans-serif;
    background: #ffbd39;
    color: black;
    font-size: 2vw;
    height: 4vw;
    border: none;
    width: 40%;
    cursor: pointer;
    border-radius: 1vw;
}

button.hire-but:active {

    font-family: "Bebas Neue", sans-serif;
    background: #ffbd39;
    color: black;
    font-size: 2vw;
    height: 4vw;
    border: 2px solid rgb(12, 111, 192);
    width: 40%;
    cursor: pointer;
    border-radius: 1vw;
}

.space {
    position: relative;
    padding-bottom: 3%;
}

br {
    content: "";
    margin: 2%;
    font-size: 20%;
}





/* *


*{
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    background-color: black;
    height: 100%;
    position: fixed;
}

.image {
    width: 85%;
    height: 80%;
    margin: 0%;
    padding-right: 20%;
}

.intro {
    width: 75%;
    height: 100%;
    margin-top: 20%;
    padding-left:20%;
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top {
    color: #ffbd39;
    font-size: 4vw;
}

.top-greet {
    color: white;
    font-size: 5vw;
}

.name-char {
    color: #ffbd39;
    font-size: 2vw;
}

.description {
    color: white;
    font-size: 2vw;
}

 
**/